body {
  background: rgb(61, 61, 61);
  height: 100vh;
}
html {
  text-align: center;
}
.nav {
  background: rgb(100, 3, 3);
  padding: 2px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav ul {
  display: flex;
}
.nav ul li{
  list-style-type: none;
  padding: 10px 20px;
  color: white;
  font-size: 1.1em;
}

.nav ul li a{
  color: white;
  text-decoration: none;
  font-family: verdana;
  font-size: 1.1em;
}

.nav h2 {
  color: white;
}

.h1-text {
  color: white;
}

.date-update {
  color: white;
  font-size: 1.2em;
}

.loading {
  color: white;
  font-size: 4em;
}

.homepage-title {
  color: white;
  font-size: 1.4em;
  text-decoration: underline;
}

.hp-paragraph{
  color: white;
  text-align:left;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.cases-container {
  padding: 0px;
  box-shadow: 3px 3px 15px rgb(31, 28, 28);
  
}

.year {
  color: white;
}

.footer {
  background: rgb(83, 3, 3);
  width: 100%;
  overflow: hidden;
  min-width: 0;
  position: fixed;
  bottom: 0;
  

}

.news-div h2 {
 color: rgb(14, 5, 5);
 text-align: center;
 
 overflow: hidden;
 padding: 2px;
 margin: 2px;
 font-size: 1.2em;

}


.news-grid {
  width:60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  min-width: 0;
  margin-top: 100px;
  overflow: hidden;


}

.total-container{
  display: flex;
  
  
  width: 60%;
  margin: auto;
  max-width: 600px;
  margin-top: 20px;
  box-shadow: 3px 3px 15px rgb(24, 22, 22);
}

.news-div{
  
  background: rgb(224, 222, 222);
  box-shadow: 3px 3px 15px #000;

}

.news-info-box {
  /* display: flex; */
  justify-content: space-evenly;
}

a{
  text-decoration: none;
}

@media screen and (min-width: 800px ){
  body{
    /* background: rgb(255, 1, 1); */
  }

  .news-grid{
    margin: 0, auto;
    display: grid;
    max-width: 60%;
    grid-template-columns: repeat(2,1fr);
  
}

}